/* landing.css */

.landing-body {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
  background: url('./back.png') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: 100%;
}

  
  .landing-container {
    text-align: center;
    margin-top: -300px;
    font-size: xx-large;
  }
  
  .header {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: flex-end;
    font-size: medium;
  }
  
  .button {
    font-family: 'Lobster', cursive;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #1f78b4;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #105b9b;
  }
  
  h1 {
    font-family: 'Great Vibes', cursive;
    color: #1f78b4;
    margin-top: 20px; /* Adjust the margin-top as needed */
  }
  