.login-box {
  position: absolute;
  background-color: rgb(35, 40, 35);
  color: rgb(137, 111, 111);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  margin: 0 auto;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

body {
  background-color: rgb(255, 255, 255);
  
}

.login-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  background-color: green;
  color: white;
  width: 40%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 100px; 
  border: 1px solid green;
  border-radius: 15px;
}

.login-forgot-password {
  margin-top: 10px;
  float: left;
}

.register-button {
  float: right;
  margin-left: auto; 
}
